<template>
  <div class="page">
    <div class="w-page page-container">
      <div class="welcome-text">
        <h1 class="welcome-text--title">Triva Game</h1>
      </div>
      <ul class="welcome-actions">
        <li>
            <h1>from start page</h1> 
          <button class="btn-Start" @click="startPlaying">Start Playing</button>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name:'StartPage',
  components: {
  },

  data () {
    return {
      showHowToPlay: false
    }
  },

  methods: {
    startPlaying () {
     this.$router.push('gamepage'); }
  }
}
</script>

<style  scoped>
  .w-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    background: var(--app-background);
    color: #fff;
  }
  .welcome-text {
    
      color: #fdf498;
      font-size: 3rem;
      text-shadow: 5px 5px 1px rgba(0,0,0,.5);
      line-height: 1.2;
      margin-bottom: 5px;
      letter-spacing: var(--title-spacing);
      text-align: center;
      font-family: var(--primary-font)
    }
  .welcome-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0 12px 30px;
    }
.btn-Start{
  margin-bottom: 100px;
}
      
    

  
</style>
