<template>
  <div id="G-list-two">
    <div>
      <h1>game page</h1>  
        <h3>Choose your catagory</h3> 
      <select v-model="selected">
       <option v-for=" catagory in catagories.trivia_categories" :key="catagory.id" v-bind:value="{ id: catagory.id, text: catagory.name }">{{ catagory.name }}</option>
      </select>
       <p>{{selected.id}}</p>
     <h3> choose number of questions</h3>
        <select v-model="numberOfQuestionselected">
       <option v-for="numberOfQuestion in 50" :key="numberOfQuestion" v-bind:value="{ id: numberOfQuestion }">{{ numberOfQuestion }}</option>
      </select>
       <p>{{numberOfQuestionselected.id}}</p>
        <h3> choose difficulty lavel</h3>
       <select v-model="Difficulty">
       <option v-for="Difficulty in selectedTypeDifficulty" :key="Difficulty" v-bind:value="{ id: Difficulty }">{{ Difficulty }}</option>
      </select>
       <p>{{Difficulty.id}}</p>
     <h3>Choose Type of questions</h3>
       <select v-model="questinsType">
       <option v-for="questin in questinType" :key="questin" v-bind:value="{ id: questin }">{{ questin }}</option>
      </select>
       <p>{{questinsType.id}}</p>
    </div>
    <!-- <button v-on:click="SetAnswers(selected.id)">SetAnswers</button> -->
<button @click="startTheGame">Start the game</button>
  </div>
</template>
<script>

import { mapActions } from "vuex";
export default {
  computed: {
        allTrivaApi(){
            return this.$store.state.catagories;
        }
    },
  components: { },
  name:'StartPage',
  async created(){

  try {
  const myrespone = await fetch("https://opentdb.com/api_category.php");
    this.catagories= await myrespone.json()
  } catch (error) {
    this.error = error.message
  }
},
data(){
  return{
    selected:9,
    numberOfQuestionselected:0,
    Difficulty:'',
    questinsType:'',
    error:'',
    catagories:[],
    // check:[],
    selectedTypeDifficulty:['anyDifficulty','easy','medium','hard'],
    questinType:['multiple','boolean'],
  }
},
   methods: {
      SetAnswers: function(amount){
           this.$store.dispatch('SetAnswers', amount);
        },
     ...mapActions(['allTrivaApi',]),
    startTheGame () {
     this.$router.push('Questionspage'); }
  }

 }
</script>

<style scoped>
#G-list-two{
    background: #D1E4FF;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    padding: 10px 20px;
}
#G-list-two ul{
    padding: 0;
    list-style-type: none;
}
#G-list-two li{
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px;
    background: rgba(255,255,255,0.7);
}

</style>