<template>
    <div class id="Q-list-one">
            <legend><h3>Question {{currentQuestion+1}} of {{questions.length}}</h3></legend>
            <div >
                <p>{{questions[currentQuestion].question}}</p>
                <div >
                       <button type="button" class="btn-alt" 
                        v-for="(answer, index) in questions[currentQuestion].answers" :key="answer.index" 
                        v-on:click="answerQuestion(answer, questions[currentQuestion].correct_answer, questions[currentQuestion].question)"
                        v-bind:value="index">{{answer}}</button>
                </div>
                 <!-- <button v-on:click="catagoryId(selected.id)">cataGoryId te</button> -->
                <p>{{catagoryId}}</p>
            </div>
    
        <div id="currentScore">Current score: {{this.$store.getters.getCurrentScore}}</div>
         <div id='account-info'>
         {{username}}
          </div>
    </div>
</template>

<script>
import GamePage from './GamePage.vue';
export default {
  components: { GamePage }, 
    props: ['username'],
    name: 'Question',
    computed: {
        catagoryId(){
            return this.$store.getters.catagoryId;
        }
    },
   
    data() {
        return {
            questions: [],
            answers: [],
            currentQuestion: 0,
            payload: [],
        }
    },
  async created() {  
      await  this.$store.dispatch('sendData')
           fetch( `https://opentdb.com/api.php?amount=10&category=12&difficulty=easy`)
        .then(response=>response.json())
        .then(data=> {
            this.questions = data.results;
            for (let i = 0; i < this.questions.length; i++) { 
                for (let j = 0; j < this.questions[i].incorrect_answers.length; j++) { 
                    this.answers.push(this.questions[i].incorrect_answers[j]); 
                }
                this.answers.push(this.questions[i].correct_answer); 
                this.$set(this.questions[i], "answers", this.answers); 
                this.answers = []; 
            }
        }) 
          
    
   
    },
    methods: {
      
        
        answerQuestion(answer, correct, question) {
            this.payload.push({
                answer: answer,
                correct: correct,
                question: question
            }) // create a payload for dispatching data to store
            this.$store.dispatch('setResult', this.payload)
            this.payload = []
            if (answer === correct) {
                this.$store.dispatch('addScore') // call store-action
            }
            if (this.currentQuestion < this.questions.length-1) { // if currentQuestion is equal to last question
                this.currentQuestion++;
            } else { // redirect to result-page when there are no more questions
                this.$router.push(`/ResultPage`)
            }
        }
    }
}
</script>

<style scoped>
#Q-list-one{
    background: #FFF8B1;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    margin-bottom: 30px;
    padding: 10px 20px;
}
#Q-list-one ul{
    padding: 0;
}
#Q-list-one li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    padding: 20px;
    background: rgba(255,255,255,0.7);
}
.btn-alt{
    margin: 20px;
    width: 200px;
}

</style>
